<div class="title1">
<h1>Nuevo Asistente</h1>

 <%= render "form", assistant: @assistant %>
 <%= stylesheet_link_tag "edit", "data-turbo-track": "reload" %>
 <%= image_tag @assistant.photo, width: 200 if @assistant.photo.attached? %>
 <br>
 <%# <div id="image_preview" >
</div> %>
  <a> <%= link_to "Regresar a Asistentes", assistants_path %></a><br>
   <%# <a><%= link_to "Eliminar Este Asistente ?", @assistant, method: :delete %></a> %>
 </div>
</div>
