<div class="container">
          <h1>Lista De Usuarios</h1>
          <%# <%= link_to "Agregar Nuevo", new_user_path,class: "btn add-new" %>
          <%= stylesheet_link_tag "assistants", "data-turbo-track": "reload" %>
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Administrador</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% if @user.present? %>
              <% @user.each do |assistan| %>
                <tr>
                  <td><%= assistan.id %></td>
                  <td><%= assistan.email%></td>
                  <td><%= assistan.manager%></td>
                  <%# <td><%= link_to "Detalle", assistant_path(assistan), class: "btn btn-primary" %>
                  <td>
                    <%= link_to "Editar", edit_user_registration_path(assistan), class: "btn edit" %>
                  </td>
                </tr>
              <% end %>
              <% else %>
                <tr>
                  <td colspan="4">No hay Usuarios disponibles</td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>