<!DOCTYPE html>
<html>
  <head>
    <title>State-Cliente</title>
    <%# <p class="notice"><%= notice</p> %>
    <div data-controller ="notification_channel"></div>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
        <div class="navbar" id="myNavbar">
          <h2>Spa Status</h2>
            <div class="menu-toggle" onclick="toggleMenu()">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <ul class="nav-links">
              <li> <%= link_to "Perfil", edit_user_registration_path, class: "dropdown-item" %></li>
              <li class="nav-item">
                <%= button_to "cerrar sesion", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "nav-link" %>
              </li>
            </ul>
        </div>
    <%= yield %>
    <script>
      function toggleMenu() {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
      }
    </script>
  </body>
</html>